<main class="is-preload">
        <section id="administracion" class="main centrad">

			<div id="wrapper">
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li><a href="/cerrarSesion" class="fas fa-sign-out-alt"> Cerrar sesión</a></li>
						<li><a href="/home" class="fas fa-hand-point-left"> Ir al inicio</a></li>
						<li><a href="/editarPerfil" class="fas fa-user-edit"> Editar perfil</a></li>
						<li><a href="/cuenta/nueva" class="fas fa-hand-holding-usd"> Nuevo registro</a></li>
					</ul>
				</nav>	

				<div id="main">
					<br>
				</div>
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<label><li>Bienvenido (a)  : {{nombre}} </li> </label>
					</ul>
				</nav>		

				<!-- Principal -->
					<div id="main">
						<section id="descripcion" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major"><br>
											<h2>Tus Cuentas</h2>
										</header>

                                        <div class="gmn">
										
                                            {{#if cuentas.length}}
                                            {{#each cuentas}}
                                                <h3>Registro                 : {{nombre}}</h3>
                                                <h3>Monto  &nbsp;&nbsp;      : {{monto}}</h3>

                                            <a href="/cuenta/editar/{{url}}"class="button primary">Editar Registro</a>
                                            <a href="#" data-eliminar="{{id}}" class="button primary">Eliminar Registro</a><br><br>
                                            
                                            
                                            {{/each}}
                                            {{else}}
                                            <p>Aún no tienes cuentas registradas</p>
                                            {{/if}}
                                        </div>
									</div>
								</div>
						</section>
					</div>
			</div>
        </section>
</main>

