<!-- Principal -->
<div id="main">

    <!-- Descripcion -->
		<section id="" class="main">
			<div class="spotlight">
				<div class="content">
                    <ul class="features">
                       <header class="major">
						<h2>Información general sobre el registro : {{cuenta.nombre}}</h2>
					    </header>
                    </ul>
                    <div class="major">
                        <b>Nombre de la cuenta</b>                  :&nbsp;&nbsp;{{cuenta.nombre}}<br>
                        <b>Monto</b>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{cuenta.monto}}<br>
                        <b>Tipo</b>   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;           :&nbsp;&nbsp;{{cuenta.tipo}}<br>
                        <b>Descripción</b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               :&nbsp;&nbsp;{{{cuenta.descripcion}}}<br>
                    </div>

                    {{!-- Editar la cuenta --}}
                    <a href= class=""></a>
                    <a href="/cuenta/editar/{{cuenta.url}}" class="button primary">Editar la información del registro</a>
                

                </div>
			</div>
		</section>
</div>