<main class="is-preload">
    <form action="/cuenta/editar/{{cuenta.url}}" method="post" class="default-form">
        <section id="editarCuenta" class="main special">

			<div id="wrapper">
			<!-- Nav -->
				<nav id="nav">
					<ul>
						<label>Bienvenido : {{nombre}} </label>
                        <li><a href="#descripcion" class="">Ir a administración</a></li>
						<li><a href="#descripcion" class="active">Cerrar Sesión</a></li>
					</ul>
				</nav>		

				<!-- Principal -->
					<div id="main">
						<section id="descripcion" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>BIENVENIDO A FINANZAS PERSONALES</h2>
										</header>




<main class="">

        <h3>Nuevo Registro</h3>

        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Salario, Renta, Supermercado, Ventas, etc..."
                value={{cuenta.nombre}}>
        </div>

        <div class="campo">
            <label for="monto">Monto (LPS):</label>
            <input type="text" name="monto" placeholder="L. 1200" 
                value="{{cuenta.monto}}">
        </div>

        <div class="campo">
            <label for="tipo">Tipo de cuenta</label>
            <select name="tipo">
                <option value="" disabled selected>Selecciona una opción</option>
                <option value="ingreso">Ingreso</option>
                <option value="egreso">Egreso</option>
            </select>
        </div>

        <h3>Descripción de la cuenta</h3>
        <div class="campo">
            {{!-- Implementar un WYSIWYG --}}
            <label>Descripción</label>
            <input type="hidden" name="descripcion" id="x" value="{{{cuenta.descripcion}}}">
            <trix-editor input="x"></trix-editor>
        </div>


        <div class="campo">
            <input type="submit" value="Guardar Cambios" class="btn btn-azul">
        </div>
    </form>
</main>