 <main class="contenedor">
    <form action="/cuenta/nueva" method="post" class="default-form">
    <!-- Barra de navegacion -->
					<nav id="nav">
						<ul>
							<li><a href="#descripcion" class="active">Descripci贸n</a></li>
							<li><a href="#inicioSesion">Iniciar Sesi贸n</a></li>
							<li><a href="#crearCuenta">Crear Cuenta</a></li>
						</ul>
					</nav>

                <!-- Principal -->
					<div id="main">

                <!-- Descripcion -->
							<section id="descripcion" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>{{nombrePagina}}</h2>
										</header>
										<p>{{descripcion}}.</p>
										<a href="/cuenta/nueva" class="button primary">Crear nuevo registro</a>
									</div>
									<span class="image"><img src="../../public/images/FP.jpg" alt="" /></span>
								</div>
							</section>

                <!-- Iniciar Sesi贸n -->
							<section id="inicioSesion" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>{{nombrePagina}}</h2>
										</header>
										<p>{{inicioSesion}}.</p>
                                        <a href="/usuario/accesoUsuario" class="button primary">Iniciar sesi贸n</a>
									</div>
									<span class="image"><img src="../../images/pic02.jpg" alt="" /></span>
								</div>
							</section>

                <!-- Crear Cuenta -->
							<section id="crearCuenta" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>{{nombrePagina}}</h2>
										</header>
										<p>{{crearCuenta}}.</p>
                                        <a href="/usuario/nuevoUsuario" class="button primary">Crear nueva cuenta</a>
									</div>
									<span class="image"><img src="images/pic01.jpg" alt="" /></span>
								</div>
							</section>                

                

                     </div>
            
            <!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrollex.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
    </form>
 </main>